.banner {
  height: 800px;
  background-size: cover;
}

.banner h1 {
  padding-left: 50px;
  padding-top: 20px;
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;

}

.banner p {
  padding-right: 50px;
  padding-top: 50px;
  text-align: end;
  margin-top: 0px;
  font-size: 20px;
  color: grey;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-land {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f8433f ;
  text-transform: uppercase;
  background: #ffffff;
  border: 4px solid #f8433f ;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.btn-land:hover {
  color: #494949 ;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}
.flexbox {
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container-banner {
  width: 1000px;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/2417966/pexels-photo-2417966.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  margin: 0 auto;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
