.container-rules {
  width: 700px;
  height: 800px;
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.rules > p {
  font-family: 'Titillium Web', sans-serif;
  padding-left: 150px;
  padding-right: 150px;
}
